body{
    background-color: #F1EFEF;
    color: #191717;
}
h1{
    background-color: #7D7C7C;
}
strong{
    background-color: #CCC8AA;
}
h2{
    background-color: #7D7C7C;
}
p{
    background-color: #CCC8AA;
}
li{
    background-color: #CCC8AA;
}