body{
    background-color: #8ecccc;
}
h1{
    color: #50717b;
}
h2{
    color: #50717b;
}
h3{
    color: #50717b;
}
p{
    color: black;
}
ul{
    color: #3a4042;
}
a{
    background-color: gainsboro;
}
hr{
    border-color: #50717b;
}
pre{
    color: black;
}